<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Crawford Crosstraining</title>

    <link href="~/Assets/html5lightbox/Icons/css/fontello.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/fonts/flaticon.css" rel="stylesheet" />

    <link href="~/Assets/Angular-bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Images/favicon/favicon-16x16.png" sizes="16x16">
</head>
<body>
    <div class="boxed_wrapper">
        <div class="preloader"></div>

        <section class="mainmenu-area">
            <div class="navbar navbar-inverse navbar-fixed-top mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">
                            <!--Start logo-->
                            <div class="logo pull-left">
                                <a href='@Url.Action("Index", "Home")'>
                                    <img src='@Url.Content("~/Images/resources/logo.png")' />
                                </a>
                            </div>
                            <!--End logo-->
                            <!--Start mainmenu-->
                            <nav class="main-menu pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li id="homeMarker">
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        <li id="bookingMarker">
                                            @Html.ActionLink("Book a Session", "Index", "Bookings")
                                        </li>
                                        @* This section to be implemented once blog functionality is enabled*@
                                        @*<li class="dropdown">
                                                <a href="blog-default.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog-default.html">Blog Default</a></li>
                                                    <li><a href="blog-large.html">Blog Large</a></li>
                                                    <li><a href="blog-single.html">Blog Single Post</a></li>
                                                </ul>
                                            </li>*@
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!--End mainmenu-->                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
    </div>
    <!--Start footer bottom area-->
    <section class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright-text">
                        <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Crawford Crosstraining LLC.</a></p>
                    </div>
                </div>                
            </div>
        </div>
    </section>


    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-chevron-circle-up"></span></div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    <section class="Scripts">
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <!-- Wow Script -->
        <script src="~/Scripts/wow.js"></script>
        <!-- bootstrap -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- bx slider -->
        <script src="~/Scripts/jquery.bxslider.min.js"></script>
        <!-- count to -->
        <script src="~/Scripts/jquery.countTo.js"></script>
        <!-- owl carousel -->
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <!-- validate -->
        <script src="~/Scripts/validation.js"></script>
        <!-- mixit up -->
        <script src="~/Scripts/jquery.mixitup.min.js"></script>
        <!-- easing -->
        <script src="~/Scripts/jquery.easing.min.js"></script>
        <!-- gmap helper -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
        <!--gmap script-->
        <script src="~/Scripts/gmaps.js"></script>
        <script src="~/Scripts/map-helper.js"></script>
        <!-- fancy box -->
        <script src="~/Scripts/jquery.fancybox.pack.js"></script>
        <script src="~/Scripts/jquery.appear.js"></script>
        <!-- isotope script-->
        <script src="~/Scripts/isotope.js"></script>
        <script src="~/Scripts/jquery.prettyPhoto.js"></script>
        <script src="~/Scripts/jquery.bootstrap-touchspin.js"></script>
        <!-- jQuery timepicker js -->
        <!-- Bootstrap select picker js -->
        <script src="~/Assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>
        <!-- Bootstrap bootstrap touchspin js -->
        <!-- jQuery ui js -->
        <script src="~/Assets/jquery-ui-1.11.4/jquery-ui.js"></script>
        <!-- Language Switche  -->
        <script src="~/Assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
        <!-- Html 5 light box script-->
        <script src="~/Assets/html5lightbox/html5lightbox.js"></script>


        <!-- revolution slider js -->
        <script src="~/Assets/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/Assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

        <script src="~/Assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>

        <script src="~/Assets/revolution/js/extensions/source/revolution.extension.parallax.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/Assets/revolution/js/extensions/source/revolution.extension.slideanims.js"></script>
        <script src="~/Assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

        <!--Angular Bootstrap DateTimePicker-->
        <script src="~/Scripts/moment.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Assets/Angular-bootstrap-datetimepicker/js/datetimepicker.js"></script>
        <script src="~/Assets/Angular-bootstrap-datetimepicker/js/datetimepicker.templates.js"></script>


        <!--Stripe Scripts-->
        <script src="https://js.stripe.com/v3/"></script>


        <!-- thm custom script -->
        <script src="~/Scripts/custom.js"></script>
    </section>

</body>
</html>
